// --------------------
// Sidebar
// --------------------
.flexiblegs-presentation {
  background: url('/img/bg@flexiblegs-presentation.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 160px;
}
